.blocker {
  z-index: 3;
}

.modal {
  &--order {
    max-width: 1180px;
    border-radius: 20px;
    padding: 70px 70px 40px;
  }
}
.modal-order {
  &__inner {
  }

  &__vol {
    &--right {
    }
  }
}
.configuration {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__col {
    &--left {
      width: 100%;
      max-width: 403px;
    }

    &--right {
      width: 100%;
      max-width: 566px;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__head {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2f2f2f;
  }

  &__form {
  }

  &__click {
  }
}
.display {
}
.display_size_big {
}
.configuration-form {
  &__inner {
  }

  &__list {
    display: flex;
    justify-content: space-between;
    background-color: #f2f3f3;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 30px;
  }

  &__price {
  }
}
.configuration-tabs {
  &__item {
    width: calc(50% - (15px / 2));
  }

  &__link {
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #b6b6b6;
    border-radius: 5px;

    @include hocus() {
      text-decoration: underline;
    }

    &[aria-selected="true"] {
      color: #16192c;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      background-color: #fff;

      @include hocus() {
        text-decoration: none;
      }
    }
  }

  &__content {
  }

  &__label {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    & + label {
      margin-top: 10px;
    }

    & .heapBox {
      flex-grow: 1;
      max-width: 302px;
      position: relative;

      &.open {
        & .holder {
          border-radius: 5px 5px 0 0;
        }
      }
    }

    & .holder {
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: -0.05em;
      color: #424242;
      text-decoration: none;
      display: block;
      padding-top: 22px;
      padding-bottom: 22px;
      padding-left: 20px;
      border: 1px solid rgba(#8e9191, 0);
      border-radius: 5px;
      background-color: #f2f3f3;

      @include hocus() {
        border-color: rgba(#8e9191, 0.5);
      }
    }

    & .handler {
      display: block;
      width: 8px;
      height: 8px;
      background-image: url(/img/svg/arr-select.svg);
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 11px;
      position: absolute;
      right: 20px;
      top: 28px;
      transition: $transition;
    }

    & .open .handler {
      transform: rotate(180deg);
    }

    & .heap {
      position: absolute;
      top: 100%;
      width: calc(100%);
      left: 0;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-top: none;
      background-color: #fff;
      border-radius: 0 0 4px 4px;
      z-index: 2;

      & a {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #16192c;
        text-decoration: none;
        transition: $transition;
        padding: 20px;
        display: block;

        @include hocus() {
          color: #f24a41;
        }
      }
    }

    & .heapOption {
      & + li {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    &--color {
      & .holder {
        padding-left: 50px;
      }

      & .heap {
        // & a {
        //   padding-left: 50px;
        //   position: relative;

        //   &::after {
        //     content: "";
        //     position: absolute;
        //     width: 20px;
        //     height: 20px;
        //     background-color: red;
        //   }
        // }
      }
    }
  }

  &__head {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: #b6b6b6;
  }

  &__select {
  }

  &__color {
  }

  &__text {
  }
}
.characteristic {
  &__list {
  }

  &__item {
  }

  &__term {
  }

  &__description {
  }
}
.price-section {
  &__box {
  }

  &__before {
  }

  &__presence {
    &--yes {
    }
  }

  &__after {
  }
}
.view {
  &__list {
  }

  &__item {
  }

  &__link {
  }

  &__in {
  }

  &__interior-main {
  }

  &__img-door {
  }

  &__interiors {
  }

  &__out {
  }
}
.preview {
  &__img {
    &--1 {
    }

    &--2 {
    }

    &--3 {
    }

    &--4 {
    }
  }
}
.click {
  width: 100%;

  &__title {
  }

  &__label {
  }

  &__input {
  }

  &__btn {
  }
}
.btn-fill {
}
