header.head-page
  .head-page__top
    .container.head-page__container_top
      .row
        //- Begin nav-menu
        nav.nav-menu
          ul.nav-menu__list
            each item in nav_menu
              li.nav-menu__item
                a.nav-menu__link(href=`${item[1]}`)= item[0]

        //- Begin socials
        .socials.head-page__socials
          h4.socials__label Мы в соц.сетях:

          ul.socials__list
              li.socials__item
                a.socials__link.socials__link_ok(href='#')

              li.socials__item
                a.socials__link.socials__link_fb(href='#')

              li.socials__item
                a.socials__link.socials__link_vk(href='#')

              li.socials__item
                a.socials__link.socials__link_insta(href='#')

  .head-page__bottom
    .container
      .row.head-page__row
        a.logo-wrapp-link.head-page__logo(href="/")
          img.logo(src="./img/logo.png" alt="Логотип Ладвкпм" width="168" height="75")
