- let n = 0
- let nav_menu = [['Как купить','buy'], ['Доставка','delivery'], ['Установка','Installation'], ['Наши работы','our'], ['Отзывы','feedback'], ['Акции','action'], ['Дилерам','dealers']]

- let other_nav = [['Межкомнатные', 'door1', '34', '50'],['Входные двери', 'door2', '28', '50'],['Раздвижные двери', 'door3', '60', '50'],['Перегородки', 'door4', '50', '50'],['Фурнитура', 'door5', '36', '50'],['Распродажа', 'door6', '30', '50'],['3 товара на 15 500 ₽', 'door7', '46', '50']]

- let breadcrumbs = ['Главная', 'Каталог', 'Межкомнатные двери']
-let colors = [['white', 'белый','white'],['Royal Blue','Королевский синий', 'royal-blue'],['now Flurry','Снежный шквал','snow-flurry'], ['white', 'белый','white'],['Royal Blue','Королевский синий', 'royal-blue'],['now Flurry','Снежный шквал','snow-flurry'],['white', 'белый','white'],['Royal Blue','Королевский синий', 'royal-blue'],['now Flurry','Снежный шквал','snow-flurry']]
