- let n = 0
- let nav_menu = [['Как купить','buy'], ['Доставка','delivery'], ['Установка','Installation'], ['Наши работы','our'], ['Отзывы','feedback'], ['Акции','action'], ['Дилерам','dealers']]

- let other_nav = [['Межкомнатные', 'door1', '34', '50'],['Входные двери', 'door2', '28', '50'],['Раздвижные двери', 'door3', '60', '50'],['Перегородки', 'door4', '50', '50'],['Фурнитура', 'door5', '36', '50'],['Распродажа', 'door6', '30', '50'],['3 товара на 15 500 ₽', 'door7', '46', '50']]

- let breadcrumbs = ['Главная', 'Каталог', 'Межкомнатные двери']
-let colors = [['white', 'белый','white'],['Royal Blue','Королевский синий', 'royal-blue'],['now Flurry','Снежный шквал','snow-flurry'], ['white', 'белый','white'],['Royal Blue','Королевский синий', 'royal-blue'],['now Flurry','Снежный шквал','snow-flurry'],['white', 'белый','white'],['Royal Blue','Королевский синий', 'royal-blue'],['now Flurry','Снежный шквал','snow-flurry']]

-const configuration = [['Размер','size'],['Цвет','color'],['Коробка','box'],['Наличник','platband'],['Петли','hinges'],['Замок','lock'],['Ручка','handle']]

-const characteristic = [['Производитель','Лайндор'],['Тип двери','Глухая'],['Серия','Роскошная классика'],['Материал','ДСП'],['Тип покрытия','шпон'],['Толщина полотна','35 мм.'],['Упаковка','пенопласт, полиэтилен'],['Дополнительно','погонажные изделия в тон дверного полотна']]

-const information =[['Размер', '2000*600'],['Цвет', 'Коричневый'],['Коробка', 'Без порога'],['Наличник', 'С одной стороны'],['Петли', 'Универстальные'],['Замок', 'Санузловой'],['Ручка', 'Нажимная Morelli'],['Колличество', '4шт.'],['Стоимость', '52 600 ₽']]

-const information_basket =[['Размер', '2000*600'],['Цвет', 'Коричневый'],['Коробка', 'Без порога'],['Наличник', 'С одной стороны'],['Петли', 'Универстальные'],['Замок', 'Санузловой'],['Ручка', 'Нажимная Morelli']]


-const details_1 = [['Товары (3)','55 000 ₽'],['Скидка','-15 000₽'],['Доставка (3шт)','440 ₽'],['Подьем (5этажей)','560 ₽'],['Установка','1 500 ₽'],['Итоговая стоимость','42 500 ₽']]

-const details_2 = [['E-mail','Alexandrovskiy@gmail.com'],['Телефон','+7 (914) 912-62-15'],['Способ получения','Доставка'],['Улица','Байкальская'],['№ Дома','545'],['№ Квартиры','1252'],['Подьем','нужен'],['Этаж','3'],['Способ оплаты','Картой онлайн']]
