extends ../templates/_main.pug
include ../helpers/mixins.pug

block var
  - const cover = true

block content
  include ../modules/_breadcrumbs

  section.catalog
    .container
      h2.catalog__title.display.display_size_big Каталог межкомнатных дверей
      .catalog__inner
        .catalog__row.catalog__row--left.filter
          ul.filter__list
            li.filter__item.type
              h3.filter__title Тип

              ul.filter__sublist.type__list
                li.type__item
                  label.filter__label
                    input.filter__input(type="checkbox" name="type" value="deaf")
                    span.filter__label-after
                    span.filter__label-text Глухая

                li.type__item
                  label.filter__label
                    input.filter__input(type="checkbox" name="type" value="glass")
                    span.filter__label-after
                    span.filter__label-text Со стеклом

                li.type__item
                  label.filter__label
                    input.filter__input(type="checkbox" name="type" value="folding")
                    span.filter__label-after
                    span.filter__label-text Складные

            li.filter__item.price
              h3.filter__title.price__title Цена

              .price__range.price-range
              label.price-range__label
                input.price-range__input.js-price-range(type="text" name="price-range")

              .price-range__box.input-group
                label.input-group__label.input-group__label--from
                  input.input-group__input.input-group__from(type="text" placeholder="от 0 ₽" readonly)

                label.input-group__label.input-group__label--to
                  input.input-group__input.input-group__to(type="text" placeholder="до 10000 ₽" readonly)

            li.filter__item.toggles
              ul.toggles__list
                li.toggles__item
                  h4.filter__title.toggles__title
                  label.toggles__label
                    input.toggles__input(type="checkbox" name="toggles" value="toggles-in-stock")
                    span.toggles__slider
                    span.toggles__text В наличии

                li.toggles__item
                  h4.filter__title.toggles__title
                  label.toggles__label
                    input.toggles__input(type="checkbox" name="toggles" value="toggles-new")
                    span.toggles__slider
                    span.toggles__text  Новинки

                li.toggles__item
                  h4.filter__title.toggles__title
                  label.toggles__label
                    input.toggles__input(type="checkbox" name="toggles" value="toggles-sale")
                    span.toggles__slider
                    span.toggles__text Распродажа


            li.filter__item.color
              h3.filter__title.color__title Цвет
              ul.color__list
                each item in colors
                  li.color__item
                    label.color__label(title=`${item[1]}` class=`color__label--${item[2]}`)
                      input.color__input(type="checkbox" name="color" value=`${item[0]}`)







            li.filter__item.make
              h3.filter__title Производители

              ul.filter__sublist.make__list
                li.make__item
                  label.filter__label
                    input.filter__input(type="checkbox" name="make" value="corona")
                    span.filter__label-after
                    span.filter__label-text Корона

                li.make__item
                  label.filter__label
                    input.filter__input(type="checkbox" name="make" value="Dubrava-Siberia")
                    span.filter__label-after
                    span.filter__label-text Дубрава-Сибирь

                li.make__item
                  label.filter__label
                    input.filter__input(type="checkbox" name="make" value="Ocean")
                    span.filter__label-after
                    span.filter__label-text Океан

                li.make__item
                  label.filter__label
                    input.filter__input(type="checkbox" name="make" value="Interne")
                    span.filter__label-after
                    span.filter__label-text Interne DOORS

                li.make__item
                  label.filter__label
                    input.filter__input(type="checkbox" name="make" value="Zadoor")
                    span.filter__label-after
                    span.filter__label-text Zadoor

                li.make__item
                  label.filter__label
                    input.filter__input(type="checkbox" name="make" value="line-door")
                    span.filter__label-after
                    span.filter__label-text Лайн-дор

                li.make__item
                  label.filter__label
                    input.filter__input(type="checkbox" name="make" value="Mebildrev")
                    span.filter__label-after
                    span.filter__label-text Мебильдрев




        .catalog__row.catalog__row--right.products
          .products__top.info
            .info__box
              p.info__text Найдено
                span.info__num 109
                | товаров

            label.info__filter.info-filter
              select.info-filter__select
                option.info-filter__option(value="pop") Популярное
                option.info-filter__option(value="up-price") Дороже
                option.info-filter__option(value="down-price") Дешевле
                option.info-filter__option(value="new") Новинки

          ul.products__list
            while n<12
              -n++
              li.products__item(class=(n===2?'products__item--new': ''))

                article.sale-card
                  img.sale-card__thumb(src='img/ds1.jpg' width='93' height='195' alt='Дверь Агата')
                  span.sale-card__text
                    .sale-card__head
                      h3.sale-card__title
                        a(href='#') Агата
                      span.sale-card__desc
                        p Тон 30 Шоколад шпон ясень

                      //- span.sale-card__info 2000*800 мм :
                        span.sale-card__value 2 шт
                    span.sale-card__action
                      span.sale-card__price
                        span.sale-card__box
                          span.sale-card__price-before 6500 руб.
                          if n===2
                            span.sale-card__presence.sale-card__presence--no под заказ
                          else if n===3
                            span.sale-card__presence.sale-card__presence--few мало на складе
                          else
                            span.sale-card__presence.sale-card__presence--yes в наличии

                        span.sale-card__price-after 2600 руб.

                      //- a.btn-fill(href='#') Заказ в 1 клик

                  ul.sale-card__colors
                    li.sale-card__colors-item
                      label.sale-card__colors-label(style="background-color: #0A0A0A;" data-image='img/ds2.jpg')
                        input.sale-card__colors-input(type="text")
                    li.sale-card__colors-item
                      label.sale-card__colors-label(style="background-color: #E8F7C8;" data-image='img/ds1.jpg')
                        input.sale-card__colors-input(type="text")
                    li.sale-card__colors-item
                      label.sale-card__colors-label(style="background-color: #FF3232;" data-image='img/ds2.jpg')
                        input.sale-card__colors-input(type="text")

                  .sale-card__wrap-link
                    a.btn-fill.sale-card__link(href='#') Заказ в 1 клик

            -n=0
          .products__bottom
            .pagination
              ul.pagination__list
                li.pagination__item.pagination__item--prev.pagination__item--disabled
                  a.pagination__link(href="#") Назад

                  while n<5
                    -n++
                    li.pagination__item.pagination__item
                      a.pagination__link(href="#")= n

                  -n=0

                li.pagination__item.pagination__item--next
                  a.pagination__link(href="#") Вперед


            .analytics
              p.analytics__text Вы посмотрели
                span.analytics__viewed 48
                |из
                span.analytics__total 1250
                |товаров
