// colors
$black: #000;
$white: #fff;
$gray: #9d9d9d;

// sizes;
$width: 1100px;
$gap: 20px;
$gap-tablet: 64px;
$gap-phone: 21px;

// breackpoints;
$ph: 600px;
$tb: 768px;
$dt: 1200px;
$ldt: 1440px;

// other;
$text: #2d3238;
$transition: 0.3s ease;
