doctype html
html(lang="ru")

  include ../modules/_head

  //- body.page
  body.page(class= (cover ? 'page--catalog': '') class= (bg ? 'page--bg': '') )
    .page__wrapper
      include ../helpers/arrays
      include ../modules/_header






      main.main-content
        include ../modules/_other-nav
        block content


      include ../modules/_footer

      //- if modal_request
      //- include ../modules/_modal-request
      //- include ../modules/_modal-thanks


      //- include ../modules/_modal-request
      //- include ../modules/_modal-thanks
      //- include ../modules/_modal-case


      include ../modules/_scripts_map
